@page
@model RimeInkArt.Pages.AboutModel
@{
    ViewData["Title"] = "Rólam";
}
<div id="AboutContainer">
    <h1>Rólam</h1>
    <div class="TextIndent" style="padding-top:30px;">
        <p>Sziasztok! Vértes Boglárka vagyok.</p>
        <p>Egész kis gyermekkorom óta rajzolás volt a kedvenc időtöltésem ezért később tanulmányaimat és művészeti irányba folytattam, ahol megtanultam a különböző művészeti ágak alapjait.</p>
        <p>Többek közt tanultam kockológiát ábrázoló geometriát Csendélet és test ábrázolást festészetet Portré rajzolást realisztikus ábrázolást, illetve animációt.</p>
        <p>
            Tizennégy éves koromban kezdtem el érdeklődni a tetoválás művészetek iránt kezdetben otthon elméleti szinten próbáltam képezni magam majd egy Tetováló segítségét kértem hogy tanítson
            meg a szakmai mint elméleti mind gyakorlati részére először csak az elméleti részét sajátítottam el majd idővel elkezdtem segíteni a Tetováló munkáját és megtanulni a gyakorlati részét
            ezzel lépésről lépésre alaposan ki tanultam mindent megvettem az első felszerelésem & elkezdtem önállóan tetoválni és itt már tudtam hogy mindig is ezzel szeretnék foglalkozni.
        </p>

        <p>
            Sok féle stílusban szeretek dolgozni, de amikor legjobban megmozgatnak azok a realisztikus minták fontosnak tartom, hogy az Általam készített munkák a vendég elképzeléseik tükrözik
            épp ezért szeretek mindent tetoválást személyre szabottan megtervezni.
        </p>
    </div>
</div>
