@page
@model RimeInkArt.Pages.AftercareModel
@{
    ViewData["Title"] = "Utókezelés";
}
<div id="AftercareContainer">
    <h1>Tetoválás utókezelése</h1>
    <img src="~/images/latvany.jpg" style="width:100%;" />
    <div class="TextContainer">
        <h2>Tetoválás utókezelése:</h2>
        <p>
            A frissen elkészült tetoválást megtisztítása és lefóliázása után, részletes tájékoztatást kapsz a tetoválás
            utókezeléséről, amit továbbiakban Neked kell elvégezned.
            A tetoválás akkor van kész, amikor teljesen legyógyult! A végeredményt nagyban befolyásolja a helyes kezelés, ezért mindenképpen figyelj
            a friss, gyógyulás alatt lévő tetoválásodra és tartsd be az alábbiakat!

        </p>
        <h2>Amire szükséged lesz az utókezeléshez:</h2>
        <ul>
            <li>Tetoválás utókezelő krém, pl. TattooMED, TattooGoo vagy más tetoválás utókezelő krém</li>
            <li>Antibakteriális szappan</li>
            <li>Konyhai papírtörlő (a törölgetéshez)</li>
            <li>Háztartási fólia (folpack – a tetoválás lefedéséhez)</li>
            <li>Ragtapasz (a fólia rögzítéséhez)</li>
        </ul>
        <h2>Utókezelés lépései, menete:</h2>
        <h3>Az első <span class="number">3</span> napban</h3>
        <p>
            Az első <span class="number">3</span> napban a tetoválás kezelése különösen fontos, ez idő alatt a tetoválást fólia alatt kell tartani,
            <span class="number">3-4</span> óránként pedig elvégezni az alábbiakat:
        </p>
        <ul style="list-style-type:'- ';">
            <li>A fóliát vedd le, majd a tetovált területet finoman, </li>
            <li>Áztatás nélkül mosd le szappannal és langyos vízzel, hagyd megszáradni.</li>
            <li>Vékonyonyan kend be (!)krémmel, és fóliázás előtt kb. <span class="number">10</span> percig pihentesd a tetoválást</li>
            <li>Tiszta, új fóliával fedd le a tetoválást.</li>
            <li>A fenti lépések ismétlése kb. <span class="number">3-4</span> óránként</li>
        </ul>
        <p>
            Éjszaka nem kell felkelni a csere miatt, elegendő reggel elvégezni a kezelést.
        </p>
        <h3>A <span class="number">3</span>. nap után</h3>
        <p>
            A fólia használatát mindenképpen el kell hagyni,
            még kb. <span class="number">7</span> napig – fóliázás nélkül- folytatni a kezelést
        </p>
        <h3>A <span class="number">10</span>. nap után</h3>
        <p>
            Ápolás zsíros testápoló krémmel, hogy ne száradjon ki a bőr
            Ne használj Bepanthen Plus és Neogranormon, vagy más, fertőtlenítőt is tartalmazó krémeket,
            mert ezek fakíthatják a tetoválást!
            A krémet csak vékonyan szabad felkenni, mert a sok krém eláztatja a tetoválást!
            Bepanthen krém, amire szükséged lesz, nem pedig kenőcs (utóbbi a babapopsira megy).
        </p>
        <h2>Ami a teljes gyógyulásig kifejezetten <span style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:red;">TILOS</span></h2>
        <ul>
            <li>A tetoválás áztatása (zuhanyozni persze szabad)</li>
            <li>Napozás, szoláriumozás, barnító krémek használata</li>
            <li>Kaparás, vakargatás stb.</li>
            <li>A kialakuló vékony varr leszedegetése</li>
            <li>Bármilyen fürdőzés a friss sebbel (tó, kerti medence, uszoda stb. használata egyaránt tilos!)</li>
        </ul>
        <h2>Tetoválás utokezelésének fajtái, lehetöségei</h2>
        <p>
            Az utókezelésnek <span class="number">2</span> fajtája van a hagyományos, amiről a fentiekben olvashattál, illetve van egy alternatív módszer
            a tetoválás fólia “secon skin” fólia:
        </p>
        <p>
            Alternatív módszer: Tetoválás Fólia
            Válaszd a Tetoválás Fóliát! Az egészségügyi sebfóliákat eredetileg a fokozottan érzékeny égési sérülések gyógyítására
            fejlesztették ki, majd a tetováló szakma felfedezte a benne rejlő lehetőséget. Az új módszernek köszönhetően a tetoválás
            utókezelése így egyszerűbbé, kiszámíthatóbbá és biztonságosabbá is vált. A tetoválás elkészülte után kérésre egy speciális
            fóliát ragasztunk fel a tetovált felületre, amit nem kell cserélni! Ez a vékony filmréteg légmentesen lefedi a tetoválást és
            speciális anyagainak köszönhetően kíméletesen óvja és gyógyítja a friss sebet. A víz, baktériumok és egyéb szennyeződések nem
            jutnak át a fólián, a felesleges folyadék ugyanakkor távozhat.
        </p>
        <p>
            A speciális fóliának köszönhetően krémezésre nincs szükség, az egyetlen dolog amire oda kell figyelni, hogy <span class="number">5</span> nap elteltével
            óvatosan lehúzzuk a fóliát. Ezután krémezni is lehet vékonyan Bepanthen krémmel vagy testápolóval. Nagyon vékony varréteg alakul
            csak ki, ami az <span class="number">5</span>. napon már peregni is kezd.
        </p>
        <p style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">FONTOS!</p>
        <p>
            A fóliát nem kell és nem is szabad eltávolítani, cserélni, kizárólag a felhelyezés utáni <span class="number">5</span>. napon óvatosan lehúzni – ezzel kész is az utókezelés!
        </p>
        <p>
            Tetoválás fólia használata
            Előkészület
            a tetoválás elkészülte után, a tetoválás-fólia felhelyezése előtt min. <span class="number">20</span> perces várakozás szükséges (némi vér és a felesleges festékanyag
            egy része eltávozik)
            a terület teljes megtisztítása, majd szárazra törlése
            Fólia felhelyezése
            A fólia felhelyezését a tetováló végzi, kis-közepes méretű minták esetén ez kb. <span class="number">1</span> percet vesz igénybe. Fontos, hogy a tetoválás
            és a fólia között ne maradjon levegő, az ultravékony fólia ragasztóréteggel rendelkezik, így visszaszedésére a fólia sérülése nélkül
            nincs lehetőség. A fólia alá krémet kenni nem szükséges és nem is ajánlott, mivel ezáltal nem ragadna megfelelően a bőrfelületre.
        </p>
        <p>
            Gyógyulás utáni fólia-eltávolítás
            A felhelyezést követő <span class="number">5</span>. napon a fóliát óvatosan el kell távolítani, majd ezután testápoló krémmel, vékonyan kenni a tetoválást a
            teljes legyógyulásig (kb. még <span class="number">1</span> héten keresztül)
        </p>
    </div>
</div>





