@page
@model RimeInkArt.Pages.GaleryModel
@{
    ViewData["Title"] = "Galéria";
}


<div id="GaleryContainer">

    <h1>Galéria</h1>

    <div id="GaleryImageContainer" class="row">
        @foreach (var item in Model.Images)
        {
            <img id="mobile-image" src="@item.Substring(7)" class="col-2" />
        }
    </div>

</div>
