@page
@model IndexModel
@{
    ViewData["Title"] = "Kezdőlap";
}

<div id="MainContainer">
    <div id="Home" class="vh-100 text-center" style="background-color:black; background-image:url(/images/rim_home.jpg); background-repeat:no-repeat; background-position:center;">
        <br />
        <img src="images/down_chevron.png" style="background-color:white; width:4vw; border-radius:50%; position:absolute; top: 90vh; right:47.4%; " />
    </div>
    <div id="About" class="vh-100" style="background-image:url(/images/fotorolam.png);background-repeat:no-repeat; background-position:left; background-size:contain;">
        <h1 class="text-center" style="text-decoration:underline;font-size:10%;">Rólam</h1>
        <p>Sziasztok Vértes Boglárka vagyok</p>
        <p>
            Tizennégy éves koromban kezdtem el érdeklődni a tetoválás művészete iránt. Kezdetben otthon elméleti szinten próbáltam képezni magam, majd egy tetováló segítségét kértem, hogy tanítson meg
            a szakam mint elméleti, mint gyakorlati részére Először csak az elméleti részét sajátítottam el, hogy idővel elkezdtem segíteni a tetováló munkáját és megtanulni a gyakorlati részét ezzel
            lépésről lépésre alaposan ki tanultam mindent megvettem az első felszerelése és elkezdtem önállóan tetoválni és itt már tudtam, hogy mindig is ezzel szeretnék foglalkozni.
        </p>
    </div>
    <div id="Galery" class="vh-100" style="background-image: url('images/portfolio_kepek/13.jpg'), url('images/portfolio_kepek/50.jpg'), url('images/dorifilo.jpg');background-position:center left,center center,center right; background-repeat:no-repeat;background-size:contain; ">
        <h1></h1>
    </div>
    <div id="AfterCare" class="vh-100" style="background-image: url('images/latvany.jpg');background-repeat:no-repeat; background-position:center;background-size:contain;">
        <h1></h1>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div id="Numbing" class="vh-100" style="background-image: url('images/fajdalom.jpg');background-repeat:no-repeat; background-position:center;background-size:contain;">

        <ul>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
