@page
@model IndexModel
@{
    ViewData["Title"] = "Kezdőlap";
}

<div id="Home" class="vh-100 text-center" style="background-color:black; background-image:url(/images/rim_home.jpg); background-repeat:no-repeat; background-position:center;">
    <br />
    <img src="images/down_chevron.png" style="background-color:white; width:4vw; border-radius:50%; position:absolute; bottom: 13vh; right:47.1%; " />
</div>
<div id="About" class="vh-100" style="background-image:url(/images/fotorolam.png)">

</div>
<div id="Galery" class="vh-100" style="background-image:url(/images/dorifilo.jpg),url(/images/portfolio_kepek/13.jpg),url(/images/portfolio_kepek/50.jpg)">

</div>
<div id="AfterCare" class="vh-100" style="background-image:url(/images)">

</div>
<div id="Numbing" class="vh-100">

</div>
