@page
@model RimeInkArt.Pages.NotesModel
@{
    ViewData["Title"] = "Tudnivalók";
}
<div id="NotesContainer">
    <h1>Tetoválás stílusok, témakörök</h1>
    <p>
        A tetoválás is -mint minden művészeti ág-, stílusokra tagolható. Ezek a tetoválás stílusok néha keverednek  egymással, átfedésben
        jelennek meg egy-egy alkotásban,  máskor össze nem téveszthető jegyeik alapján jól körülhatárolhatóak.
    </p>
    <p>
        A tetoválásra vágyó emberek egy része nincs tisztában a pontos megnevezésekkel -ez nem is elvárt  természetesen-, inkább a
        stílusjegy főbb ismérveit sorolják,  amikor a kívánt mintáról beszélnek.
    </p>
    <p>
        Az alábbi “kisokos” segít eligazodni a tetoválás főbb ágazatai között, így egyszerűbbé teszi pl. a mintaválasztást  és annak
        megfogalmazását a tetováló felé.
    </p>
    <h2>Black & Grey </h2>
    <h6>(fekete-szürke tetoválás stílus) </h6>
    <p>
        A Fekete-szürke eredetileg olyan egyszínű minta, amely fekete tintával készül úgy, hogy a festéket a tetováló  desztillált vízzel
        felhígítja. Ezek kombinációja kreál egy voltaképpeni “mosást” a világosabb árnyalatoknál.Egyes tetoválók fehér tintát kombinálnak
        feketével, hogy hasonló hatást érjenek el, de nem ez a szokványos  metódus.
    </p>
    <p>
        A Fekete-szürke tetoválás a börtönrendszerekből származik, hiszen ott nem volt lehetőség arra,  hogy a tetoválók színezhessék a mintáikat.
        Jack Rudy és Charlie Cartwright aztán behozták ezt a stílusjegyet  a köztudatba, ugyanakkor bemutatták az úgynevezett “single-needle”
        (egy tűs) tetoválógépet a nyilvánosságnak,hogy e szerkezet segítségével sokkal jobb árnyékolásokat készíthessenek.
    </p>
    <p>
        A stílus voltaképpen az olasz művészeti forradalom, a chiaroscuro lényegiségével függ össze.  A középkori festészet még ún. egységes
        világítást használt, de aztán a reneszánsz idejében az árnyékot,  mint térképző formát kezdték el használni.
    </p>
    <h2>Realistic</h2>
    <h6>(Realisztikus, Élethű tetoválás stílus)</h6>
    <p>
        Az utóbbi évtizedben jelentős térhódítást tudhat maga mögött a realisztikus stílus.  Ez valószínűleg a műfaj kivitelezésének, illetve
        megjelenésének köszönhető, hiszen a tetoválók célja a  maximálisan élethű, fotószerű megjelenítés.
    </p>
    <p>
        A félreértések elkerülése végett megjegyzendő: bár a legkedveltebb téma maga az ember, realisztikusan való  ábrázolása nem csak emberi
        portrékat, vagy a kedvenc kisállatunkat lehet felkalapáltatni bőrünkre, hanem  készülhet ilyen stílusban bármilyen fantázia szülemény is,
        a lényeg, mint említettük, a szuperpontos,  életszerű megjelenítés.
    </p>
    <p>
        A tetoválás stílusok közül talán a realisztikusnál figyelhető meg legjobban a tetováló szakma fejlődési iránya  és intenzitása, a legújabb
        technológiáknak köszönhetően pedig az eszközök és alapanyagok folyamatos minőségi  javulása is.
    </p>
    <h2>Blackwork</h2>
    <p>Egyes emberek egyáltalán nem tudnak mit kezdeni ezzel a stílussal. Egy biztos,  a Blackwork egy igen változatos és megosztó tetoválási forma… </p>
    <p>
        A Blackwork egyedisége, “arcba mászó” mivolta miatt jön elő. Sokszor igen egyszerű minták kerülnek terítékre,  de ezek technikai kivitelezése,
        egyáltalán nem nevezhető egyszerűnek. Ha elővesszük a műfaj  egyik legnagyobb hősét, a francia Yann Black-et, rögtön megértjük miről is van szó.
    </p>
    <p>
        Egy vonallal megrajzolt történetek, fura szereplők a bőrön, egyértelmű helyzetek, nulla árnyékolás,  nulla hibázási-ráta, gyermekrajz-szerű ötletek,
        színek (vagy kevés színezés) beavatkozása nélkül.
    </p>
    <p>
        A Blackwork sok esetben merít a különböző tribal (törzsi) tetoválások fundamentális hagyományaiból,  ezáltal elmondható, hogy sokszor, egy-egy
        minta sokkal többet árul el viselőjéről, mint más esetekben  túlszínezett “vetélytársai”. Takarásra a nagy fekete felületek miatt egyszerűen szuper...
    </p>
    <h2>Trash polka</h2>
    <h6>(Buena Vista tetoválás stílus)</h6>
    <p>
        A Trash Polka, Realistic Trash Polka vagy Buena Vista neveken is ismert technikát a Buena Vista tetováló szalonban  álmodták meg, fiatalnak számít
        a tetoválás stílusok között. Lényege, hogy a realisztikus elemeket ötvözi a  minimalista, elnagyolt ábrázolásmóddal.
    </p>
    <p>
        A stílus leggyakrabban használt színei: fekete, szürke és a piros árnyalatai. Gyakran feliratokkal, raszterpöttyökkel,
        festékpacákkal kombinálnak bonyolult kivitelezésű, fotószerű mintákat, mint pl. portrék, tárgyak.
    </p>
    <p>
        Az élethűen kivitelezett, aprólékos tetoválás részben vázlatszerű ábrázolása nagy feszültséget teremt,
        így erőteljes munkák születhetnek ebben a stílusban is.
    </p>
    <h2>Dotwork</h2>
    <h6>(Pontozásos tetoválás stílus)</h6>
    <p>
        A Dotwork tetoválások kizárólag pontokból épülnek fel, a tetováló nem húz egyetlen vonalat sem, ez közelről  jól megfigyelhető, míg egy
        bizonyos távolságból már becsaphatja a szemünket és belelátjuk a vonalakat.  Ez a különlegesség kiemeli a tetoválás stílusok közül, így
        önmagában is látványos, de kiegészítésként is  használják a technikát, körvonalakkal határolt részek kitöltéseként, pl. mandala minták készítésekor.
    </p>
    <p>
        Leginkább fekete tintával készülnek ezek az alkotások, ugyanakkor a színes festékek fantáziadús használatával  és az egyforma méretű pontokkal
        egészen egyedi dolgok születhetnek.
    </p>
    <h2>Watercolor</h2>
    <h6>(Vízfesték hatású tetoválás stílus)</h6>
    <p>
        A Watercolor olyan tetováló stílus, ami igen közel áll a festészethez, sokszor a nagyvonalú, látványos ecsetkezelésű  alkotásokat
        idézi fel. Élénk színek, be nem tartott határok és határtalan lehetőségek jellemzik azt a technikát,  a tetoválás stílusok lázadója.
    </p>
    <p>
        A lazán kitöltött területek sokszor egybemosódnak, néha nem is illeszkednek.  A negatív terek kiválóan kiemelik a vízfesték hatást
        ezért ilyen tetoválásokat célszerű szellősen elhelyezni,  “szűz” területen. Fekete-szürke verzióban kevésbé látványos.
    </p>
    <h2>Flora & Fauna</h2>
    <h6>(növény és állatvilág tetoválás stílus)</h6>
    <p>
        Inkább témakör, mint stílus, a többitől markánsan nem különül el. Leginkább a realisztikus tetováló stílus alapján  készült
        állatportrékra és növényábrázolásokra utalnak a Flora & Fauna kifejezéssel. Többnyire színes minták  készülnek ebben a
        stílusban, de gazdag árnyalással és a megfelelő kontraszttal a fekete-szürke tetoválások is  remekül érvényesíthetők.
    </p>
    <p>A cél általában az élővilág minél élethűbb ábrázolása, a természet iránt érzett rajongás,  szeretet és tisztelet kifejezése.</p>
    <h2>Oriental</h2>
    <h6>(Japán, Keleti tetoválás stílus)</h6>
    <p>
        A hagyományos japán minták történeteket mondanak el. Egy japán tetoválás egészen mély témájú mesékkel képes  szolgálni,
        ezáltal felbecsülhetetlen eszmei értéket képvisel hordozója számára. Más néven Irezumi-nak nevezik ezt  a metódust,
        mely szó voltaképpen azt a folyamatot jelenti, ahogyan “tintát fecskendeznek a bőr alá”. A japán tetoválás története
        nagyon messzire nyúlik vissza, egészen a korai kőkorig, de ezzel összefüggésben,  még nem tudott leleteket felmutatni
        a tudomány. A legkorábbi bizonyítékok a Yayoi korszakból (kr.e. 300-kr.u. 300)  származnak, amelyben a tetoválások
        életbeli státuszt, illetőleg spirituális jelentéseket hordoztak.
    </p>
    <p>
        A Kofun-korban (300-710) már változott a tetoválások jelentése, hiszen főként bűnözők megbélyegzésére kezdték el
        használni azokat -ez részben a kínai kultúra behatásának köszönhető. Sok-sok ezer évvel ezután, egészen napjainkig,
        a japán tetoválás hagyománya összefonódott a Yakuzák megjelenésével (17. századtól),  majd lassan becsordogált a nyugati
        vérkeringésbe is, így sok kiváló művész vette át, illetőleg  reformálta meg a japán tetoválás hagyományait.
    </p>
    <p>
        A tradicionális japán tetoválás, a “Tebori” menete a következő: a mester (Hiroshi) felviszi a festéket (sumi)
        egy ecset segítségével a bőrre, majd egy bambuszpálcikával bejuttatja azt a bőr alá. A pálcika végén egy köteg
        tű helyezkedik el (hari).
    </p>
    <h2>New School</h2>
    <p>
        A new-school egy kalap alatt tartalmaz olyan művészi megnyilvánulásokat, amelyek olyan módszerek  alapján
        születtek meg, hogy a művészek nem foglalkoztak semmilyen hagyománnyal, sőt nem is nagyon  sorolhatók be
        semmilyen hagyomány halmazába. A New-school számára nincsen lehetetlen, egy rendkívül merész  stílusjegy,
        melynek keretein belül olyan mintákkal találkozhatunk, melyek sűrű és erős vonalakkal készülnek,  élénk
        színekben pompáznak, amiket egymásba is mos a művész...
    </p>
    <p>Leginkább rajzfilmes, túlzó elemek felbukkanása figyelhető meg, az Old-School-lal ellentétben sokszor 3D hatással,  perspektivikusan.</p>
    <h2>Biomechanical</h2>
    <h6>(Biomechanikus tetoválás stílus)</h6>
    <p>
        A biomechanika, nagyjából olyan horderővel bír(t) a tetoválás világában, mint a reneszánsz a maga idejében  a korabeli művészetekben.
        Elhozta a bőrünk alatt rejlő terminátort, egyfajta kreált robotikus világot alkotott,  felforgatva ezáltal az elkövetkező évek történéseit.
    </p>
    <p>
        Az emberi test fémekkel való találkozása, az ember, mint robot, vagy mint cyborg, főként a kései hetvenes,  illetőleg a korai
        nyolcvanas évek Hollywood-jának köszönhető. Ridley Scott Alien-je aratott a mozi-őrültek  köreiben, a zseniális H.R. Giger pedig,
        bezsebelte az Oscart a vizuális tervezésért. Aztán ránk köszöntek a  kilencvenes évek, amikor olyan zseniális tetoválók,
        mint Guy Aitchison vagy Aaron Cain, kifejlesztették a műfaj  alapjait, a fém és az izmok találkozását, a biomechanikát.
    </p>
    <p>
        Kezdetben a biomechanika kifejezésvilágára a fekete-szürke kombó volt a jellemző, hiszen ez a  “színvilág” tökéletesen
        lehetővé tette a művészek számára, hogy a mechanikus elemeket úgymond  beleoltsák az emberi húsba. Napjainkra rengeteget
        fejlődött a biomechanika, olyan kiváló művészek ténykedései  nyomán, mint Ron Earhart, Nick Baxter, Carson Hill vagy Nathan Kostechko.
    </p>
    <h2>Old School</h2>
    <h6>(Hagyományos, Tradicionális tetoválás stílus)</h6>
    <p>
        Tulajdonképpen ez az a stílus, amelyet más néven American-nak nevezünk. Itt pontosan arról van szó,  amire gondolhatunk: ez a műfaj fonódik
        össze a tetoválás nyugati történelmével, azzal a metódussal,  ahogy egyáltalán a tetoválás megjelent a bőrön, és az első képek kivehetővé váltak.
    </p>
    <p>
        Az Old-School továbbá összefügg a tengerész-élet alapjaival is. Mint a legtöbb “öreg” stílus,  a tradicionális ábrázolás is rengeteg
        változáson ment keresztül, nem csak technikailag, hanem a  témákat illetőleg is. Gondoljunk például arra, hogy a huszadik század két
        világháborút is megélt és e műfaj  nagyon szoros szimbiózisban mozog a sereg embereinek életével, azokkal a témákkal, amelyek nekik
        voltak  fontosak.
    </p>
    <p>
        Az old-school modernizálása magával hozta a színpaletta erőteljes kifejlődését, hiszen a hagyományok  alapján is elmondhatjuk,
        a műfaj a lehetőségekhez képest mindig színes képekkel igyekezett dolgozni.  A színeket ebben a stílusban nem, vagy nagyon
        kissé mossák egymásba, a kivitelezést határozott, egyszerű  vonalak jellemzik, a tetoválás inkább “lapos”, 2D hatású.
        A stílus közkedvelt mintái: táncos (hula) lányok,  koponyák, vasmacskák, farkasok, hajók; más kifejezéssel az úgynevezett
        “Sailor Jerry” motívumok.
    </p>
    <h2>Maori, Polinéz, Samoai</h2>
    <h6>(törzsi tetoválás stílus)</h6>
    <p>
        Amikor törzsi tetoválásokról beszélünk, javarészt a fenti megnevezések egyikét halljuk.  A modern világban óriási népszerűségnek
        örvend ez az ábrázolásmód, mutatós mintái és a test vonalát követő  alakzatai miatt is.
    </p>
    <p>
        Ezek a tetoválások nem készíthetők sablon alapján, az alapmotívumok meghatározása után  a tetováló szabad kézzel rajzolja fel a
        megálmodott mintát, figyelembe véve az izomzat és a  csontok elhelyezkedéseit is.
    </p>
    <p>
        A szimbólumok, de még az apróbb vonalak is jelentőséggel bírnak, egészében egy történetet  –
        gyakran egy egész életet- mesélnek el. Az eredeti törzsi tetoválások viselőjük rangját, tetteit,
        társadalmi  helyzetét is megmutatják, így valóban kiolvasható belőlük a viselőik személyisége. A samoai felmenőkkel
        is bíró  Dwayne “The Rock” Johnson sokat lendített az amúgy is népszerű stílus ismertségén.
    </p>

</div>
