@page
@model RimeInkArt.Pages.NumbingModel
@{
    ViewData["Title"] = "Érzéstelenítés";
}
<div id="NumbingContainer">
    <h1>Érzéstelenítés</h1>
    <img src="~/images/fajdalom.jpg" style="width:78%; z-index:-2; padding-left:20%;" />
    <div class="TextContainer">
        <h2>Miért fáj a tetoválás?</h2>
        <p>
            Bőrünk 7 rétegből tevődik össze. A hámréteg, azaz a harmadik  réteg alá kerül be a festék tetováláskor. Karunk külső oldalain a bőr erősebb, míg a belső
            részeken, pl. mellkason, háton, nyakon vékonyabb. Emiatt ezeken a területeken fájdalmasabb a  tetoválás.
        </p>
    </div>
    <img src="~/images/bor.jpg" style="z-index:-1;" />
    <div class="TextContainer">
        <p>
            A fájdalomküszöb ugyanakkor egyénenként változó. A szerencsés keveseknek igen magas, ők  szinte csak csiklandozásnak érzik a tetoválás folyamatát. A legtöbb
            embernek alacsony, sőt,  van, akinek szinte nincs is – így a tetoválás során náluk erőteljesebb fájdalomérzet jelentkezik.
        </p>
        <p>
            Tetováláskor nem kizárólag a tetoválótű irritálja a bőrt, hanem a folyamatos törlés,  a bőrterület feszítése is. Mivel ezek nem nélkülözhetők – a tetoválónak
            tisztán, festékmentesen  kell látnia a területet, és kissé megfeszítenie a bőrt, amin dolgozik -,  a hatékony fájdalomcsillapítás nagy segítséget jelenthet.
        </p>
        <p style="margin-top:20vh;">
            Egy speciális krémet használunk a fájdalommentes tetoválás  alkalmával, melynek alkalmazása előtt konzultáció szükséges, hiszen egyénenként eltérően allergiás
            reakció alakulhat ki az érzéstelenítő használatakor. Ennek tünetei –  bőrpír és viszketés – csak rövid távú kellemetlenséget okozhatnak ugyan, de  befolyásolhatják a tetoválás folyamatát.
        </p>
        <h2>A fájdalommentes tetoválás menete:</h2>
        <ul>
            <li>A tetoválandó terület teljes megtisztítása</li>
            <li>A krém felvitele</li>
            <li>A krémezett terület letakarása fóliával</li>
            <li>Kb. 1 óra várakozás a tetoválás megkezdése előtt</li>
        </ul>
        <p>Az 1 órás felszívódási idő után a krém kb. 2-3 órán át hatékony. <span style="color:red" ;>(egyénenként ez el térő lehet)</span></p>
        <p>A tetoválás előtt a be nem szívódott krémet le kell törölni, a tetoválandó felületnek  ugyanis száraznak kell lennie a minta bőrre történő indigózásához, vagy felrajzolásához.</p>
        <p>A krémet kizárólag a nálunk készülő tetoválásokhoz,  a szolgáltatás részeként tudjuk biztosítani.</p>
    </div>
</div>
